/*
  1           2           3           4           5           6           7
  |           |           |           |           |           |           |
  -(padding)- Nav text---------------------------------Nav text -(padding)-
              Menu ------- Newsfeed-------Newsfeed ---- Sidebar
*/

.App {
  color: $text-color;
  display: grid;
  font-family: 'Roboto', sans-serif;
  grid-auto-flow: dense;  /* reverse Menu and Newsfeed's order */
  grid-template-columns: repeat(6, calc(100% / 6));

  ul {
    list-style-type: none;
    padding: 0;
  }
}